﻿@model Citation

@{
    ViewData["Title"] = "Home Page";
    var content = (string)ViewData["Content"];
    var action = ViewData["exists"];
}

<form asp-action="@action">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="comment">Text to Write:</label>
        <textarea asp-for="CitationText" class="form-control" rows="5" id="comment">@Model.CitationText</textarea>
    </div>
    <div style="height:40px" display=inline-block width=100%>
        <input type="submit" value="Add Record" class="btn btn-primary float-right" />
    </div>
</form>
